<!-- BODY -->
<div class="wrapper">
  <div class="card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">DIVYAM AIRLINE RESERVATION</h3>
      Book Domestic and International Flights
        <br />
      <button type="button" class="btn btn-primary signUpBtn">
        <a href="signup">SIGN UP</a>
      </button>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">Check out the Best Offers Available</h3>
      <div class="row">
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer1.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer2.jpg" height="200px" width="250px" />
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img src="assets/special-offer3.jpg" height="200px" width="250px" />
        </div>
      </div>
    </div>
  </div>
  <div class="card offer-card shadow-lg p-3 mb-5 bg-white rounded">
    <div class="card-body">
      <h3 class="card-title">About Us</h3>
      <div class="row">
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user1.jfif" height="200px" /><br /><br />
          <h5>VIJAYA SWAPNA</h5>
          <hr />
          <span class="info">
            ADMIN-1
            <hr />
            <a
              href="https://www.facebook.com/"
              class="fa fa-facebook"
            ></a>
            <a
              href="https://in.linkedin.com/in/"
              class="fa fa-linkedin"
            ></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user2.jfif" height="200px" /><br /><br />
          <h5>SHIVANSH</h5>
          <hr />
          <span class="info">
            ADMIN-2
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="devCard col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user3.jfif" height="200px" /><br /><br />
          <h5>SAI MOUNIKA</h5>
          <hr />
          <span>
           Admin-3.
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
        <div class="col-md-3" style="padding: 5px;">
          <img class="photo" src="assets/user4.jfif" height="200px" /><br /><br />
          <h5>ABHISHEK</h5>
          <hr />
          <span>
           ADMIN-4
            <hr />
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-linkedin"></a>
          </span>
        </div>
      </div>
    </div>
  </div>
   <div class="card contact-card shadow-lg p-3 mb-5 bg-white rounded">
                  <div class="card-body" style="padding-left: 150px; padding-right: 150px; padding-top: 50px; padding-bottom: 50px;">
                      <h3 class="card-title">Contact Us</h3>
                      <div class="row">
                          Full Name: <br>
                          <input class="form-control" type="text" name="fname"><br>
                          Email Address:<br>
                          <input class="form-control" type="email" name="email"><br>
                          Subject: <br>
                          <input class="form-control" type="text" name="subject"><br>
                          Message:<br>
                          <textarea class="form-control" name="message"></textarea>
                      </div>
                      <div class="row">
                          <div class="col-md-3 offset-md-9">
                              <button type="button" class="btn btn-success signUpBtn" (click)="sendMessage()">
                                  <a href="#">Send</a>
                              </button>
                          </div>
                      </div>
                  </div>
              </div> 
</div>
<!-- BODY -->
